@import url('https://fonts.googleapis.com/css2? family= Poppins:wght@200;300;400;500;600;700;800;900 & display=swap'); 

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
body {
    background: lightblue;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.container {
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    background-color: #fff;
    margin: 50px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0, 0, 0, 0.1);
}
.container .left__Side {
    position: relative;
    background: #003147;
    padding: 40px;
}

.profileText {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.profileText .imgBx {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}
.profileText .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
     height: 100%;
    object-fit: cover;
}
.contactInfo {
    padding-top: 40px; 
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding-bottom: 25px;
}
.title {
    color: #fff;
    text-transform: uppercase;
    font-size: 0.95em;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 25px;
}
.contactInfo ul {
    position: relative;
}
.contactInfo ul li {
    list-style: none;
    position: relative;
    margin: 6px 0;
}
.contactInfo ul li .icon {
    display: inline-block;
    width: 30px;
    font-size: 15px;
    color: #03a9f4;
}
.contactInfo ul li span {
    color: #fff;
    font-weight: 300;
}
.text-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3px;
}
.contactInfo.skill li {
    color: #fff;
}
.contactInfo.langage .percent {
    position: relative;
    width: 100%;
    height: 6px;
    background: #081921;
    display: block;
    margin-top: 5px;
}
.contactInfo.langage div {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #03a9f4;
}

.container .right__Side {
    position: relative;
    background: #fff;
    padding: 40px;
}
.about {
    margin-bottom: 50px;
}
.about:last-child {
    margin-bottom: 0;
}
.title2 {
    color: #003147;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
.trainning {
    color: #003147;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 30px;
}
.title3 {
    color: #003147;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
.profil {
    color: #003147;
    letter-spacing: 1px;
    font-size: 0.80rem;
    text-align: justify;
    line-height: 18px;
}
.about .box {
   display: flex;
   flex-direction: row;
   margin: 15px 0;
}

.year__company {
    min-width: 200px;
    text-align: justify;
}
.date {
    font-size: 15px;
    color:#696969 ;
    font-weight: 500;
}
.text {
    min-width: 100px;
    text-align: justify;
    letter-spacing: 0.5px;
    color: #003147;
}
.formation {
    margin-bottom: 3px;
    color: #2A7DA2;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 550;
} 
.formation-1 {
    margin-bottom: 3px;
    color: #2A7DA2;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 550;
    letter-spacing: -0.1px;
} 
.projet {
    font-size: 15px;
    padding: 3px;
    color: #003147;
}

.projet1 {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}
.interet ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.interet ul li {
    list-style: none;
    color: #333;
    font-weight: 500;
    margin: -10px 0;
}
i {
  color: #03a9f4;
  font-size: 18px;
  margin: 10px;
}